# Predicting Sale Prices for Ames Iowa Housing Dataset

#### By: Julia Kelman: [GitHub](https://git.generalassemb.ly/julia-kelman/)

## Problem Statement

## Executive Summary

## Table of Contents

## Loading Data

In [1]:
import warnings
warnings.filterwarnings("ignore") # Shhhh
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
RANDOM_STATE = 90210

In [5]:
# Reading the dataset: 
data = pd.read_csv('../datasets/train.csv')

In [6]:
data.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [8]:
data.shape

(2051, 81)

## Data Cleaning

In [9]:
# get total nulls 
data.isnull().sum()

9822

In [10]:
### LAZY WORKFLOW! 
# DO NOT DO THIS! 

#fill NAs with 0
data.fillna(0, inplace=True)

## EDA

In [ ]:
#includes visualization

## Model Preparation

In [11]:
features = ["Overall Qual", "Lot Area", "Full Bath"]

X = data[features]
y = data["SalePrice"]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = RANDOM_STATE)

## Modeling

### Baseline Model

### Linear Regression

In [12]:
# instantiate
lr = LinearRegression()

# fit 
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
lr.score(X_train, y_train)  # training score

0.6918731434092117

In [15]:
lr.score(X_test, y_test)   # testing score

0.7346887122200936

### Ridge

### Lasso

## Model Selection

## Model Evaluation

In [ ]:
# includes visualization

## Conclusion

## Recommendations

## References

----

# Kaggle Submission

Whatever you did to the first dataset, you MUST do to the validation/hold-out set

In [17]:
# Load validation set
val = pd.read_csv('../datasets/test.csv')  #this is just a hold-out set

In [18]:
val.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [19]:
val.shape

(878, 80)

In [20]:
## Lazy Val workflow
val.fillna(0, inplace=True)

In [21]:
# filter features 
filtered_val = val[features]

In [22]:
filtered_val.head()

   Overall Qual  Lot Area  Full Bath
0             6      9142          2
1             5      9662          2
2             7     17104          2
3             5      8520          1
4             6      9500          1

In [23]:
# make prediction with model! 
preds = lr.predict(filtered_val)

In [24]:
preds[:10]

array([184851.15512343, 147402.14133697, 241373.78966781, 122849.62452794,
       163671.71437393,  69322.28152442,  84222.28283802, 124572.14203567,
       210815.96928591, 187061.64430111])

In [25]:
# We need to submit to Kaggle in the appropriate form of .csv 

# create prediction Series
preds_col = pd.Series(preds, name = "SalePrice")

# combine with Id
id_col    = val["Id"]
output = pd.concat([id_col, preds_col], axis = 1)
output.head()

     Id      SalePrice
0  2658  184851.155123
1  2718  147402.141337
2  2414  241373.789668
3  1989  122849.624528
4   625  163671.714374

In [26]:
# write to csv 

output.to_csv('../output/submission.csv', index = False)